A = float(input("enter a number 1 :"))
B = float(input("enter a number 2 :"))
C = float(input("enter a number 3 :"))
D = float(input("enter a number 4 :"))
if A<=B<=C<=D :
    print("minimum number",A)
if B<=C<=D<=A :
    print("minimum number",B)
if C<=D<=A<=B :
    print("minimum number",C)
if D<=A<=B<=C :
    print("minimum number",D)
if D<=C<=B<=A :
    print("minimum number",D)
if C<=B<=A<=D :
    print("minimum number",C)
if B<=A<=D<=C :
    print("minimum number",B)
if A<=D<=C<=B :
    print("minimum number",A)
if C<=A<=D<=B :
    print("minimum number",C)
if A<=D<=B<=C :
    print("minimum number",A)
if D<=C<=A<=B :
    print("minimum number",D)
if B<=C<=A<=D :
    print("minimum number",B)
if C<=B<=D<=A :
    print("minimum number",C)
if C<=A<=B<=D :
    print("minimum number",C)
if A<=C<=D<=B :
    print("minimum number",A)
if B<=D<=A<=C :
    print("minimum number",B)
if D<=B<=A<=C :
    print("minimum number",D)
if D<=B<=C<=A :
    print("minimum number",D)
if D<=A<=C<=B :
    print("minimum number",D)
if B<=D<=C<=A :
    print("minimum number",B)
if B<=A<=C<=D :
    print("minimum number",B)
if A<=C<=B<=D :
    print("minimum number",A)
if A<=B<=D<=C :
    print("minimum number",A)
if C<=D<=B<=A :
    print("minimum number",C)
exit()
